* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;

}

.container {
max-width: 1200px;
margin: 15px auto;

} 


.checkbox, label, menu, input  {
    display: none;
}
 

.grid__item {
    height: auto;

}



body {
    display: grid;
    font-family: font-family, 'Nunito', sans-serif;
    background-color: #ffeaca;

    grid-template-areas:
    "header  header  header"
    "article  article  article"
    "main  main  main"
    "footer  footer  footer"
 }

header {
    background-color: white;
    text-align: left;
    /* padding: 1rem 2rem; */

    
    grid-area: header;


}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;




    max-width: 1200px;
    margin: 15px auto;
}

.content__title {
    color: #461008;
    font-family: font-family, 'Lemon', cursive;  
}

.content__title a{
    
    
}



.content__navbar {
    display: flex;

}

  /* Cambiar el color de los enlaces al pasar el mouse */
  .content__navbar li :hover {
    background-color: #f5d7a3;
    border-radius: 5px;
    border: 10px;
    padding: 5px;
       
  }
  
  /* Agregar un color al enlace activo/actual */
  .content__navbar li a.active {
    background-color:#eebe6b;
    color: white;
    border-radius: 5px;
    padding: 5px;
  }


















.content__navbar li {
    margin: 0 10px;


}

.content__navbar li a {
    color: #461008;
    font-weight: medium;  

}

article {
    background-color: #f5d7a3;

    grid-area: article; 
}
 
/* banner */


.card base{
background-color: #f5d7a3;

}

/* .card {
    background-color: #ffffff;
    margin: 20px;
    box-shadow: 0 15px 20px -2px rgba(0,0,0,0.5);
} */

.card__title {

    font-size: 1.5rem;
    color: #461008;
    text-align: left;
    padding: 10px;

}

.card__article {
    position: relative;
}

/* .card__article img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;

} */

/* .card__article small {
    background-color: rgba(255, 225, 94, 0.5);
    color: #461008;
    padding: 20px;
    position: absolute;
    left: 0px;
    border-bottom-right-radius: 10px;
    font-family: font-family, 'Nunito', cursive;
    
} */

.card__titulo { 
    font-size: 2rem;
    color: #7c4609;
    text-align: left;
    padding: 15px;
}

.card_subtitulo {
    max-width: 350px;
   
    text-align: left;
    padding: 0px 40px;


}

.card__titulo--principal {
    background-color: #cf9632;
    font-weight:cursive ;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.card__descripcion {
    vertical-align: baseline;
}

.card__link {
    background-color:#461008;
    color: white;
    border-radius: 5px;
    padding: 5px;
    line-height: 50px;
}


.card__link--Bot {
    background-color:#461008;
    color: white;
}

.effect {
transition: box-shadow 0.3s;
}

.effect:hover {
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 0.4)
    }


main {
    background-color: rgb(255, 255, 255);

    grid-area: main; 
}

/* Destacados inicio */

.destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    background-color: #f5d7a3;
    flex: 1 2 320px;
 }
 
 .destacados1 {
     width: 320px;
     margin-right: 10px;
     margin-left: 5px;
  }
 
  h4 {
    font-size: 1rem;
    color: #7c4609;
    text-align: left;
    padding: 5px;
  }

  .linearGradient {

    color: #7c4609;
    margin: 5px;


  }


 
 .destacados__notas {
     background-color: #f5d7a3;
     color: #f5d7a3;
     width: auto;
     
 }  
 
 .destacados__notas--img {
     background-color: #ffffff;
     border-radius: 8px;
     box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 10px;
     margin: 10px;
     margin-block-end: 15px;
          
 
 } 
 
 .foto {
     border-radius: 8px;
 
 }
 
 .destacados__parrafo {
     color: #461008;
     font-family: font-family, 'Nunito', sans-serif;
     width: auto;
     margin: 15px;
}
 
/* Texto Animado Novedad */

.Text_Animated {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 10px;
}
.Text_Animated span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #461008;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

 
 main {
    background-color: rgb(255, 255, 255);

    grid-area: main; 
}


.box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    max-width: 350px;
    align-content: center;

            
    background-color: #eebe6b;
    font-family: font-family, 'Nunito', sans-serif;
    padding: 10px;

    margin: 20px;
    margin-block-end: 15px;

}

.Table, tr, th {
    border: 2px solid;
    color: #7c4609;
}


.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article {
    width: 200px;
    height: 250px;
    margin: 20px;
}

/*Aquí debajo va el Mapa de Evento*/

.mapa__evento {

    padding: 10px;   
}

/*Aquí debajo va el fORMULARIO DE CONTACTO*/

.contact {
    background-color: #eebe6b;
    width: 320px;
    padding: 10px;
    color: #461008;
    margin: 20px;
}
  
.contact label, .contact input, .contact textarea {
    display: block;
    width: 300px;
    margin-bottom: 5px;   
}
  
.contact label {
    font-weight: 700;
}
  
.contact textarea {
    min-height: 200px;
  }
  
.submit {
    padding: 5px;
    background: #461008;
    color: white;
    font-size: 10px;  
  }

/*Aquí debajo va el FOOTER*/

footer{
    
    width: 100%;
    padding: 10px 0px;
    margin: auto;
    background-color: #eebe6b;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1200px;
    margin-bottom:auto;
    
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.box__footer .logo img{
    width: 120px;
    display: block;
    margin: auto;
       
}

.box__footer--info {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 100;
    color: #7c4609;
    font-size: 15px;
}

.box__footer h2 {
    margin-block-start: auto;
    color: #7c4609;
    font-weight: 600;
}

.box__footer h4 {
    padding-bottom: 15px;
    color: #7c4609;
    font-weight: 200;
}

.box__footer a {
    margin: auto;
    color: #7c4609;
    font-weight: 400;
}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #461008;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #461008;
    ;
}

 /* aside {
     grid-area: aside;
 } */
 


/* Pie de Pagina */
footer {
    background-color: #eebe6b;
    
    grid-area: footer; 
}


body {
  font-family: sans-serif;
}



/* mobile last: de diseños dektop a mobile*/
/* max-widht 768 px (hasta la resolucion)*/

@media (max-width: 768px) {

    .content__navbar{
        display: none;
      }
      
      input:checked  ~ ul{
        display:block;
      }
      
      input {
        display: none;
      }
      
      label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      
      /* Estilo del boton cuando se pasa el mouse por encima*/
      label:hover{
        background: #eebe6b;
      }

      .content__navbar li :hover {
        display: none;
      }
      
      /* Estilo del boton cuando el menú está expandido*/
      input:checked ~ label {
        background: #eebe6b; 
      }
      
      ul{
        margin-top:2px;
        padding: 2px;
        width: 150px;
      
      }
      
      
      li {
        display: block;
        background: #eebe6b;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 2px solid #ffffff;
        font-size: small;
      }
      
      /*Estilo cuando el mouse pasa encima de cada link del menu*/
      li:hover {
        filter: brightness(120%);
      }


      .content__title {
        color: #461008;
        font-family: font-family, 'Lemon', cursive;
        font-size: 1rem;
        margin-left: 20px;  
    }



      /* Articulos Destacados en columna */

      .destacados {
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding: 5px;
        background-color: #f5d7a3;
        flex: 1 2 320px;
     }











 
/* mobile last: de diseños dektop a mobile*/
/* max-widht 480 px (hasta la resolucion)*/

@media (max-width: 480px) {
    

    .content__navbar{
    display: none;
    }

    input:checked  ~ ul{
    display:block;
    }

    input {
    display: none;
    }

    label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    }

    /* Estilo del boton cuando se pasa el mouse por encima*/
    label:hover{
    background: #eebe6b;

    }

    /* Estilo del boton cuando el menú está expandido*/
    input:checked ~ label {
    background: #eebe6b; 
    }

    ul{
    margin-top:2px;
    padding: 2px;
    width: 150px;

    }


    li {
    display: block;
    background: #eebe6b;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 2px solid #ffffff;
    font-size: small;
    }

    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    li:hover {
    filter: brightness(120%);
    }
    }

    .content__title {
        color: #461008;
        font-family: font-family, 'Lemon', cursive;
        font-size: 1rem;
        margin-left: 20px;  
    }




      /* Articulos Destacados en columna */

      .destacados {
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding: 5px;
        background-color: #f5d7a3;
        flex: 1 2 320px;
     }


    }

/*Aquí debajo va el FOOTER*/

footer{
    
    width: 100%;
    padding: 10px 0px;
    margin: auto;
    background-color: #eebe6b;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1200px;
    margin-bottom:auto;
    
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.box__footer .logo img{
    width: 120px;
    display: block;
    margin: auto;
       
}

.box__footer--info {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 100;
    color: #7c4609;
    font-size: 15px;
}

.box__footer h2 {
    margin-block-start: auto;
    color: #7c4609;
    font-weight: 600;
}

.box__footer h4 {
    padding-bottom: 15px;
    color: #7c4609;
    font-weight: 200;
}

.box__footer a {
    margin: auto;
    color: #7c4609;
    font-weight: 400;
}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #461008;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #461008;
    ;
}

footer {
background-color: #eebe6b;

grid-area: footer; 

}


/* .hero__grid { 
display: grid;
grid-template-column: repeat(2, 1fr);
gap: 50px
} */